@import "tailwindcss";

body {
  background: #f9fafb;
  color: #111;
  font-family: 'Inter', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}